@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
 :root {
    --bg-color: #0C0C0C;
    --primary: #F2613F;
    --secundary-color: #9B3922;

 } 
 